body,html{
width:  100%;
height: 100%;
margin: 0px;
padding: 0;
}
button,input{
    outline: none;
}
section{
z-index: 1;
height: 100%;
overflow: hidden;
}
div{
height: 100%;
}
img{
    z-index: -1;
    width: 100%;
}
.show{
display: block !important;
}
.hide{
display: none !important;
} 
.noHeight{
    height: 0% !important;
}
::placeholder{
    font-weight: 400;
    font-size: small;
    color : rgba(61, 32, 4, 1);
  }
.generalBkg{
    width: 100%;
    height: 100%;
}
/* login*/
.loginBkg{  
    width: 100%;
    height: 100%;
}

.username{
    display: block;
    position: absolute;
    top: 48.5%;
    width: 78%;
    height: 3%;
    left: 11%;
    background: none;
    border: none;
    font-size: medium;
    text-align: center;
    color : #3D2004;
    
}
.password{
    display: block;
    position: absolute;
    top: 56.5%;
    width: 78%;
    height: 3%;
    left: 11%;
    background: none;
    border: none;
    font-size: medium;
    text-align: center;
    color : #3D2004; 
}
.btnLogin
{
    position: absolute;
    top: 64%;
    left: 17%;
    width: 67%;
    height: 4.7%;
    background: none;
    border: none;
}
.forgottenPassword{
    display: block;
    position: absolute;
    top: 70%;
    left: 17%;
    font-size: medium;
    color: #3D2004;
    height: 4%;
    font-weight: bolder;
    width: 62%;
    border: none;
    background: transparent
  }
.logingFb{
    height: 5%;
    width: 34%;
    display: block;
    position: absolute;
    top: 82.5%;
    left: 11%;
    border: none;
    background: none;
}
.loginG{
    height: 5%;
    width: 34%;
    display: block;
    position: absolute;
    top: 82.5%;
    right: 11%;
    border: none;
    background: none;
}
.loginRegister{
    height: 4%;
    width: 25%;
    display: block;
    position: absolute;
    bottom: 3%;
    right: 17%;
    background: none;
    border: none;
}
/*end of Login*/
.registerBkg{
   width: 100%;
   height: 100%;
}
.email{
    width: 77%;
    display: block;
    position: absolute;
    top: 27%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color : #3D2004;
    
}
.name{
    width: 77%;
    display: block;
    position: absolute;
    top: 36%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.date{
    width: 77%;
    display: block;
    position: absolute;
    top: 44%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.bio{
    width: 77%;
    display: block;
    position: absolute;
    top: 51%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.regUser{
    width: 77%;
    display: block;
    position: absolute;
    top: 59%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.regPass{
    width: 77%;
    display: block;
    position: absolute;
    top: 67%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.regConfirmPass{
    width: 77%;
    display: block;
    position: absolute;
    top: 75%;
    height: 3%;
    left: 12%;
    text-align: center;
    font-size: medium;
    border: none;
    background: none;
    color: #3D2004;
}
.regBtn{
    border: none;
    height: 5%;
    width: 67%;
    bottom: 13.1%;
    left: 17%;
    position: absolute;
    display: block;
    background: transparent;
}
.regTerms{
    border: none;
    height: 3%;
    width: 55%;
    bottom: 5.1%;
    left: 41%;
    position: absolute;
    display: block;
    background: transparent
}
.regLogin{
    border: none;
    height: 2.5%;
    width: 19%;
    bottom: 2.1%;
    left: 60%;
    position: absolute;
    display: block;
    background: transparent;
}
/*end of register*/

/*fogotten password*/
.goBackForgottenPass{
    background: transparent;
    height: 7%;
    width: auto;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1;
}
.forgottenPasswordBkg{
   width: 100%;
   height: 100%;
}
.forgUser{
    display: block;
    position: absolute;
    top: 38%;
    width: 70%;
    height: 3%;
    left: 16%;
    font-size: medium;
    background: none;
    border: none;
    color: #3D2004;
    font-weight: 400;
}
.forgEmail{
    display: block;
    position: absolute;
    top: 54%;
    width: 70%;
    height: 3%;
    left: 16%;
    font-size: medium;
    background: none;
    border: none;
    color: #3D2004;
    font-weight: 400;
}
.forgRegBtn{
    position: absolute;
    top: 60.5%;
    width: 66%;
    height: 5%;
    left: 17.1%;
    border: none;
    background: none;
}
/*end of forgotten password*/

/*Home*/
.homeBkg{
   width: 100%;
   height: 100%;
   z-index: -1;
}
.contentHome{
    height: 81%;
    width: 100%;
    position: absolute;
    top: 12%;
    overflow: scroll;
    overflow-x: hidden;
}
.homeBack{
    height: 7%;
    width: 8%;
    border: none;
    background: transparent;
    position: absolute;
    top: 1%;
    left: 2%;
}
.homeInfo{
    height: 7%;
    width: 12%;
    border: none;
    background: transparent;
    position: absolute;
    top: 1%;
    right: 3%;
}
.profileManagement{
    height: 7%;
    width: 12%;
    border: none;
    background: transparent;
    position: absolute;
    top: 1%;
    right: 3%;
}
.sharesContent{
    margin: 5%;
}
.challenge{
    margin: 5%;
    height: 62%;
}
div.sharesContent{
    height: 50%;
}
.like{
    width: 8%;
    background-color: transparent;
    height: 10%;
    background-image: url(../img/buttons/likeG.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.save{
    width: 8%;
    background-color: transparent;
    height: 10%;
    background-image: url(../img/buttons/saveG.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.joinChallenge{
    background: rgba(61, 32, 4, 1);
    position: absolute;
    top: 54%;
    left: 25%;
    width: 50%;
    height: 5%;
    font-size: medium;
    border-radius: 14px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.separator{
    height: 2%;
    width: 100%;
    background: url(../img/others/line.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 62%;
    left: 4%
}
.challengeContent{
    position: absolute;
    height: 6%;
    width: 20%;
    top: 7%;
    right: 10%;
    background: url("../img/buttons/challenge.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.contentButtonAdvice{
    position: absolute;
    height: 6%;
    width: 20%;
    right: 10%;
    background: url("../img/buttons/advice.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.contentButtonChallenge{
    position: absolute;
    height: 6%;
    width: 20%;
    right: 10%;
    background: url("../img/buttons/challenge.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
.contentButtonAchievement{
    position: absolute;
    height: 6%;
    width: 20%;
    right: 10%;
    background: url("../img/buttons/achievement.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.home{
    position: absolute;
    bottom: 0.5%;
    left: 8%;
    height: 6.3%;
    width: 12%;
    border: none;
    background: none;
}
.homeShare{
    position: absolute;
    bottom: 0.5%;
    left: 32%;
    height: 6.3%;
    width: 12%;
    border: none;
    background: none;
}
.homeSearch{
    position: absolute;
    bottom: 0.5%;
    right: 32%;
    height: 6.3%;
    width: 12%;
    border: none;
    background: none;
}
.homeProfile{
    position: absolute;
    bottom: 0.5%;
    right: 8%;
    height: 6.3%;
    width: 12%;
    border: none;
    background: none;
}
#information{
    overflow: scroll;
}
.info{
    z-index: 1;
    overflow: scroll;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}
.policy{
    z-index: 1;
    overflow: scroll;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}
.infoImg{
    width: 100%;
    height: auto;
}
.backFromInfo{
    position: absolute;
    top: 1%;
    background: transparent;
    height: 7%;
    border: none;
    right: 3%;
    width: 12%;
}
.policyImg{
    width: 100%;
    height: auto;
}
.backFromPolicy{
    position: absolute;
    top: 1%;
    background: transparent;
    height: 7%;
    border: none;
    right: 3%;
    width: 12%;
}
/*End of home*/

/* articles section*/
.contentArticles{
    height: 77%;
    width: 90%;
    position: absolute;
    top: 12%;
    left: 5%;
    overflow: scroll;
}
.articleImg{
    width: 100%;
    height: auto;
}
.joinChallengeArticle{
    border: none;
    height: 8%;
    width: 70%;
    position: absolute;
    top: 133.5%;
    left: 15%;
    background: transparent;
}
/*end of article section*/

/*publication content*/
.puclicationContent{
    width: 82.5%;
    height: 27.5%;
    border: none;
    position: absolute;
    top: 43%;
    left: 8.5%;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(61, 32, 4, 1);
    background: transparent;
}
.publicationTitle{
    -webkit-highlight: none;
    height: 4%;
    width: 94%;
    position: absolute;
    top: 15.5%;
    font-size: medium;
    background: transparent;
    left: 3%;
    font-weight: 600;
    border: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(61, 32, 4, 1);   
}
.imgPicker{
    position: absolute;
    top: 32%;
    left: 15%;
    border: none;
    width: 70%;
    height: 4%;
}
.categories{
    position: absolute;
    bottom: 23%;
    left: 4%;
    width: 94%;
    font-size: medium;
    height: 4%;
    background: transparent;
    color: rgb(78, 40, 4);
    border: none;
    font-family: verdana;
}
.publish{
    position: absolute;
    bottom: 12%;
    height: 7%;
    width: 53%;
    left: 24%;
    border: none;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*end of publication content*/

/*Profile management section*/
.editProfilePic{
    position: absolute;
    top: 23%;
    left: 50%;
    z-index: 1;
    height: 10%;
    width: auto;
    z-index: 2;
}
.profilePic{
    position: absolute;
    top: 13%;
    height: 21%;
    left: 34%;
    border-radius: 66%;
    z-index: 1;
    width: auto;
}
.profileName{
    position: absolute;
    top: 35%;
    left: 12%;
    width: 76%;
    background: transparent;
    height: 3%;
    border: none;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.profileEmail{
    position: absolute;
    top: 48%;
    left: 12%;
    width: 76%;
    background: transparent;
    height: 3%;
    border: none;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.profileDesc{
    position: absolute;
    background: transparent;
    top: 39%;
    border: none;
    height: 7%;
    left: 12%;
    width: 75%;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.profileGenre{
    position: absolute;
    bottom: 45%;
    left: 12%;
    height: 3%;
    width: 76%;
    font-size: medium;
    background: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.profilePolicy{
    position: absolute;
    height: 3%;
    width: 43%;
    bottom: 36%;
    left: 10%;
    border: none;
    background: transparent;
}
.profileTerms{
    position: absolute;
    height: 3%;
    width: 43%;
    bottom: 33%;
    left: 10%;
    border: none;
    background: transparent;
}
.logout{
    position: absolute;
    height: 3%;
    width: 34%;
    bottom: 28%;
    left: 9%;
    border: none;
    background: transparent;
}
/*end of profile section*/

/* search section */
.searchProfilesOpt{
    display: inline-block;
    position: absolute;
    top: 16%;
    left: 3%;
    height: 5%;
    width: 44%;
    font-size: medium;
    /*background: rgb(140, 170, 136);*/
    background: transparent;
    border: none;
    border-radius: 10%;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.searchArticlesOpt{
    display: inline-block;
    position: absolute;
    top: 16%;
    right: 4%;
    height: 5%;
    width: 44%;
    font-size: medium;
    background: rgb(140, 170, 136);
    border-radius: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}

.searchText{
    position: absolute;
    top: 9.2%;
    left: 3%;
    height: 4.5%;
    width: 93%;
    font-size: medium;
    text-align: center;
    background: transparent;
    border: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}

.searchPublicationsResults{
    right: 3%;
    position: absolute;
    width: 94%;
    height: 67%;
    top: 23%;
    overflow: scroll;
    left: 3%;
    display: inline;
}
.resultArticle{
    margin: 2.1%;
    height: 40%;
    width: 45%;
}
.searchProfileResults{
    right: 3%;
    position: absolute;
    width: 94%;
    height: 67%;
    top: 23%;
    overflow: scroll;
    left: 3%;
    display: inline;
}
.resultProfile{
    height: 100%;
    width: auto;
    border-radius: 50%;
    display: inline-block;
}
.profileResultContainer{
    overflow: hidden;
    width: 72%;
    height: 25%;
    margin: 5% auto;
}
.searchProfileName{
    position: relative;
    bottom: 80%;
    left: 39%;
    font-size: medium;
    word-wrap: break-word;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.searchUserName{
    display: block;
    position: relative;
    bottom: 96%;
    left: 40%;
    font-size: medium;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
/* end of search section*/

/*change picture section*/
.changePicClose{
    position: absolute;
    top: 4%;
    right: 5%;
    height: 8%;
    background: transparent;
    width: 13%;
    border: none;
}
.picToChange{
    position: absolute;
    top: 17%;
    z-index: 1;
    left: 27%;
    height: 42%;
    width: auto;
    border-radius: 50%;
}
.changePicTakePic{
    position: absolute;
    bottom: 32%;
    height: 7%;
    width: 52%;
    left: 25%;
    background: transparent;
    border: none;
}
.changePicSelectFrom{
    position: absolute;
    bottom: 25%;
    height: 7%;
    width: 52%;
    left: 25%;
    background: transparent;
    border: none;
}
.changePicDelete{
    position: absolute;
    bottom: 18%;
    height: 7%;
    width: 52%;
    left: 25%;
    background: transparent;
    border: none;
}
/* end of change picture*/

/*-------- profiles section---------------*/
.mainProfilePic{
    z-index: 1;
    position: absolute;
    top: 11%;
    left: 13%;
    height: 17%;
    width: auto;
    border-radius: 50%;
}
.mainProfileRank{
    z-index: 1;
    position: absolute;
    top: 18%;
    left: 20%;
    height: 12%;
    width: auto;
}
.mainProfileName{
    position: absolute;
    top: 14%;
    text-align: right;
    right: 24%;
    font-size: medium;
    width: 30%;
    height: auto;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.mainProfileUserName{
    position: absolute;
    top: 17%;
    text-align: right;
    right: 24%;
    font-size: small;
    width: 30%;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.mainprofileLikes{
    position: absolute;
    top: 19%;
    text-align: right;
    right: 24%;
    font-size: medium;
    width: 30%;
    height: auto;
    font-weight: 900;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.mainProfileDescription{
    position: absolute;
    top: 31%;
    height: 8%;
    width: 72%;
    font-size: small;
    left: 12%;
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(78, 40, 4);
}
.mainProfileLine{
    z-index: 1;
    position: absolute;
    top: 36%;
    width: 73%;
    left: 12%;
}
.iconsContainer{
    position: absolute;
    top: 37%;
    left: 12%;
    width: 75%;
    height: 9%;
}
.rankIcon{
    display: inline-block;
    width: 18.8%;
    height: auto;
}
.likeIcon{
    display: inline-block;
    width: 18.8%;
    height: auto;
}
.achievementIcon{
    display: inline-block;
    width: 18.8%;
    height: auto;
}
.saveIcon{
    display: inline-block;
    width: 18.8%;
    height: auto;
}
.adviceIcon{
    display: inline-block;
    width: 18.8%;
    height: auto;
}
.mainProfileContent{
    position: absolute;
    top: 46%;
    height: 46%;
    width: 90%;
    left: 5%;
    overflow: scroll;
}
/* end of private profile section*/

/*terms and conditions section*/
.terms{
    z-index: 1;
    overflow: scroll;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
}
.termsImg{
    width: 100%;
    height: auto;
}
.backFromTerms{
    position: absolute;
    top: 1%;
    background: transparent;
    height: 7%;
    border: none;
    right: 3%;
    width: 12%;
}
/**/